{% extends 'base.html.twig' %}

{% block title %}Services • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="service section section__bg">
        <div class="service__container">
                <h1 class="service__title">À votre service</h1>
                <div class="service__content">
                    <p class="service__content-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, laborum suscipit doloremque, expedita voluptatum maiores corporis modi assumenda esse consectetur error nulla, vero alias.</p>
                    <a href="" class="button">Contactez nous</a>
                </div>
                <div class="service__image">
                    <img src="https://images.unsplash.com/photo-1445966275305-9806327ea2b5?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=14a02fab1200216368d682ecaa91e540" alt="">
                </div>
        </div>
    </section>
    <section class="service__contact section section__bg">
        <h1 class="section__title">Un projet ? <br>Dites nous tout !</h1>
        <h3 class="section__subtitle">Prenez contact avec nous dès à présent pour discuter de votre projet.</h3>

        <div class="service__contact-container">
            
        </div>
    </section>
{% endblock %}
