{% extends 'admin.html.twig' %}

{% block title %}Conditions • L&A WoodFactory{% endblock %}

{% block content %}
    <section class="account section" id="account">
        <h2 class="account__title">Les conditions d'utilisation & de vente</h2>
        <a href="{{ path('admin') }}" class="account__back"><i class='bx bx-arrow-back'></i></a>
        <h3 class="account__subtitle">{{ app.user.firstname }}, c'est dans cet espace que vous allez pouvoir gérer les conditions d'utilisation et de vente.</h3>

        <div class="account__condition-container">
            <div class="account__condition">
                {% for condition in conditions %}
                    <div class="account__condition-box">
                        <p>“{{ condition.content | u.truncate(2000, '...') | raw}}“</p>
                    </div>

                    <a href="{{ path('admin_condition_edit', {id: condition.id}) }}" class="button">Modifier</a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
