{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation & de vente{% endblock %}

{% block content %}
    <section class="condition section">
        <h1 class="section__title">Les conditions d'utilisation & de ventes</h1>
        <h3 class="section__subtitle">Retrouvez nos conditions d'utilisation et de vente, des informations sur nos tarifs et sur les moyens de livraisons.</h3>

        <div class="condition__container">
            {% for condition in conditions %}
                {{ condition.content | raw }}
            {% endfor %}
        </div>
    </section>
{% endblock %}
