@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400&family=Spectral:wght@300;400;600;700&display=swap');

/*===== VARIABLE =====*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  --hue: 27;
  --hue-alt: 204;
  --first-color: hsl(var(--hue), 65%, 60%);
  --first-color-alt: hsl(var(--hue-alt), 49%, 25%);
  --first-color-light: hsl(var(--hue), 44%, 73%);
  --first-color-lighten: hsl(var(--hue), 47%, 82%);
  --title-color: hsl(var(--hue), 29%, 21%);
  --text-color: hsl(var(--hue), 21%, 31%);
  --text-color-light: hsl(var(--hue), 24%, 60%);
  --body-color: hsl(var(--hue), 31%, 94%);
  --container-color: hsl(var(--hue), 11%, 95%);
  --white-color: #FFF;
  --red-color: hsl(0, 53%, 55%);

  /*========== Font and typography ==========*/
  --body-font: 'Spectral', serif;
  --font-alt: 'Sora', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-medium: 600;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
  --mb-5: 5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.17rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: 1.6;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-light);
}

img {
  max-width: 100%;
  height: auto;
}

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}

.section__bg {
  background-color: var(--container-color);
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin: var(--mb-4) 0 0 0;
  text-align: center;
}

.section__subtitle {
  display: block;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.section__subtitle:hover {
  text-decoration: underline;
}

.grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 2rem;
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
}

/*===== BUTTON =====*/
.button {
  display: inline-block;
  border-radius: .75rem;
  background: none;
  padding: .75rem 1rem;
  font-family: var(--font-alt);
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: .3s;
  cursor: pointer;
  transition: 1s;
}

.button {
  border: .1rem solid var(--first-color-alt);
  color: var(--first-color-alt);
}

.button__alt {
  border: .1rem solid var(--first-color-lighten);
  color: var(--first-color-lighten);
}

.button__white {
  border: none;
  background: var(--container-color);
  color: var(--first-color-alt);
}

.button:hover {
  transform: scale(1.1);
}

.button__delete {
  display: inline-block;
  border-radius: .75rem;
  background: none;
  border: .1rem solid var(--container-color);
  color: var(--container-color);
  padding: .75rem 1rem;
  font-family: var(--font-alt);
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: .3s;
  cursor: pointer;
  margin: 2rem 0 1rem 0;
  transition: 1s;
}

.button__delete:hover {
  transform: scale(1.1);
  border: .1rem solid var(--red-color);
  background-color: var(--red-color);
}

.button__icon {
  display: inline-block;
  border-radius: .75rem;
  background: none;
  color: var(--first-color-alt);
  font-size: 4rem;
  -webkit-transition: 1s;
  cursor: pointer;
  transition: 1s;
}

/*===== FORM =====*/
.form__inputs {
  display: grid;
  row-gap: 1.5rem;
  margin-bottom: var(--mb-1-5);
}

.form__content {
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--first-color-alt);
}

.form__content-content {
  display: grid;
  grid-template-columns: 32% 30% 30%;
  justify-content: space-between;
}

.form__content-show {
  position: relative;
  top: -1rem;
  cursor: pointer;
}

.form__content-showPassword {
  position: relative;
  top: .5rem;
  cursor: pointer;
}

.form__content-showPassword a,
.form__content-show a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form__content-showPassword a i,
.form__content-show a i {
  margin: 0 .5rem 0 0;
}

.form__content-check {
  position: relative;
  bottom: 22px;
  display: flex;
  align-items: center;
}

.form__content-file {
  margin: 1rem 0;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  border: none;
  outline: none;
  padding: 1rem 1rem .25rem 0;
  z-index: 1;
}

.form__input-check {
  margin: 0 1rem 0 0 ;
}

.form__label-check {
  font-size: var(--small-font-size);
  cursor: pointer;
}

.form__label-check a:hover {
  border-bottom: 1px solid var(--text-color-light);
}

.form__label {
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: var(--normal-font-size);
  color: var(--first-color-alt);
  transition: .3s;
}

.form__area {
  height: 7rem;
}

.form__area textarea {
  resize: none;
}

.form__input:focus + .form__label {
  top: -.75rem;
  left: 0;
  font-size: var(--small-font-size);
  z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -.75rem;
  font-size: var(--small-font-size);
  z-index: 10;
}

.form__notification {
  font-size: var(--normal-font-size);
  color: var(--red-color);
  font-style: italic;
  text-align: center;
  padding: 0 2rem;
}

.form__password-forget {
  position: relative;
  bottom: 15px;
  font-size: var(--normal-font-size);
  color: var(--first-color-alt);
  font-style: italic;
  text-align: center;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  width: calc(100% - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__connection {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    background-color: var(--container-color);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .nav__link {
     font-size: var(--h1-font-size);
  }
}

.nav__item {
  text-align: center;
  padding: var(--mb-2-5) 0;
}

.nav__link {
  color: var(--first-color-alt);
  font-weight: var(--font-medium);
  transition: 1s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__connection-list .nav__item .nav__link,
.nav__item-mobile .nav__link {
  margin: 0 1rem;
}

.nav__logo {
  height: var(--header-height);
}

.nav__logo img {
  height: 60px;
margin: .4rem 0 0 0;
}

.nav__cart {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.show {
  right: 0;
}

.active-link {
  color: var(--first-color-light);
}

/*===== HOME =====*/
.home {
  position: relative;
  background-color: var(--container-color);
}

.home__container {
  height: 95vh;
}

.home__data {
  padding-top: 6rem;
}

.home__title {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: var(--big-font-size);
  line-height: 1;
  letter-spacing: .5rem;
  margin-bottom: 4rem;
}

.home__title span {
  font-size: var(--h1-font-size);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 260px;
}

/*===== COLLECTION =====*/
.collection__container {
  grid-template-rows: repeat(2, 174px);
  row-gap: 2rem;
}

.collection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: .75rem;
  padding: 0 1rem;
  background-color: var(--container-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.collection__box:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.collection__img {
  width: 90px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.collection__box .collection__data {
  text-align: end;
}

.collection__box2 .collection__data {
  text-align: start;
}

.collection__title {
  font-size: var(--h1-font-size);
  line-height: 1.2;
  margin-bottom: var(--mb-2);
  text-transform: uppercase;
  font-weight: var(--font-medium);
}

.collection__subtitle {
  font-family: var(--font-alt);
  font-size: var(--h3-font-size);
  text-transform: capitalize;
  color: var(--text-color-light);
}

.collection__view {
  font-size: var(--small-font-size);
  color: var(--first-color-lighten);
}

.collection__view:hover {
  text-decoration: underline;
}

/*===== FEATURED PRODUCTS =====*/
.featured__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.featured__product {
  -webkit-transition: .3s;
  transition: .3s;
}

.featured__product:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.featured__box {
  height: 305px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: 1rem;
}

.featured__data {
  text-align: center;
}

.featured__name {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: var(--normal-font-size);
}

.featured__price {
  color: var(--first-color-alt);
  font-family: var(--font-alt);
  font-weight: var(--font-medium);
}

/*===== OFFER =====*/
.offer__bg {
  text-align: center;
}

.offer__data {
  padding: 3.5rem .25rem;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
}

.offer__title {
  font-size: var(--h1-font-size);
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: var(--font-medium);
}

.offer__description {
  margin-bottom: var(--mb-2);
  letter-spacing: .2rem;
}

/*===== NEW ARRIVALS =====*/
.new__container {
  row-gap: 2rem;
}

.new__box {
  height: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--container-color);
  overflow: hidden;
}

.new__box:hover .new__link {
  bottom: 0;
}

.new__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(33, 70, 95, 0.2);
  -webkit-transition: .3s;
  transition: 1s;
}

/*===== CONTACT =====*/
.contact__description {
  margin-bottom: var(--mb-2);
  font-size: var(--h3-font-size);
  color: var(--text-color-light);
  text-align: center;
}

/*===== TEMPLATE =====*/
.template {
  background-color: var(--container-color);
}

.template__container{
  grid-column-gap: 0;
}

.template__box {
  height: 60vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.template__box-bg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(33, 70, 95, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.template__border-lt {
  border-radius: 1rem 1rem 0 0;
}

.template__border-rb {
  border-radius: 0 0 1rem 1rem;
}

.template__box-title {
  font-size: var(--h1-font-size);
  color: var(--container-color);
  text-align: center;
  text-transform: uppercase;
}

.template__box-subtitle {
  font-size: var(--h3-font-size);
  color: var(--container-color);
  text-align: center;
  padding: 0 2rem;
}

.template__box-other {
  font-size: var(--h3-font-size);
  color: var(--container-color);
  text-align: center;
  margin: 1rem 0 .5rem 0;
  padding: 0 2.5rem;
}

.template__box-social {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3.5rem;
}

.template__box-social a {
  color: var(--first-color-lighten);
}

.template__box-social a:hover {
  color: var(--container-color);
}

.template__box-detail {
  font-family: var(--font-alt);
  font-size: var(--normal-font-size);
  color: var(--container-color);
  text-align: center;
  font-style: italic;
  line-height: 2.5rem;
}

.template__box-detail a {
  color: var(--first-color-lighten);
  font-style: normal;
  border-left: 1px solid var(--first-color-lighten);
  border-right: 1px solid var(--first-color-lighten);
  padding: 0 .4rem .2rem .4rem;
  transition: .2s;
}

.template__box-detail a:hover {
  color: var(--container-color);
  border-left: 0 solid var(--first-color-lighten);
  border-right: 0 solid var(--first-color-lighten);
  border-bottom: 1px solid var(--container-color);
}

.template__box-bg .button {
  margin: 4rem 0 0 0;
}

.template__form {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.template__form-product {
  height: 70vh;
}

.template__form form {
  width: 100%;
  padding: 2.5rem 4rem;
}

.template__form form button {
  display: flex;
  margin: 0 auto;
}

.template__form-password form button {
  margin: 4rem auto 0;
}

.template__form-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 4rem;
}

.template__edit-container {
  display: none;
}

.template__edit-title {
  font-size: var(--h1-font-size);
  color: var(--first-color-alt);
  text-align: center;
  text-transform: uppercase;
  margin: 6rem 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*===== ACCOUNT =====*/
.account__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin: 0 0 3rem 0;
}

.account__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
  text-align: center;
  margin: 0 0 4rem 0;
  padding: 0 2rem;
}

.account__back {
  position: absolute;
  top: 100px;
  left: 75px;
  font-size: 3rem;
  color: var(--first-color-alt);
  text-align: center;
}

.account__container-mobile {
  row-gap: 2rem;
}

.account__container,
.account__admin-container,
.account__product-container {
  display: none;
}

.account__box {
  height: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--container-color);
  border-radius: .5rem;
  overflow: hidden;
}

.account__box:hover .account__link {
  bottom: 0;
}

.account__link-mobile,
.account__link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(33, 70, 95, 0.2);
  -webkit-transition: .3s;
  transition: 1s;
}

.account__link {
  bottom: -100%;
}

.account__link-product {
  flex-direction: column;
}

.account__link-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: var(--container-color);
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

/*===== PRODUCT =====*/
.products__section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin: 0 0 2rem 0;
}

.products__mobile-container {
  padding-top: 1rem;
}

.products__container {
  padding-top: 1rem;
}

.products__content {
  display: none;
  width: 228px;
  grid-template-columns: 228px;
  row-gap: 2.5rem;
  justify-content: center;
}

.products__mobile-card {
  position: relative;
  width: 220px;
  height: 360px;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  margin-right: 2.3rem;
  overflow: hidden;
}

.products__card {
  width: 240px;
  height: 360px;
  position: relative;
  background-color: var(--container-color);
  border-radius: 1rem;
  transition: 1s;
}

.products__card:hover {
  transform: scale(1.1);
}

.products__data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  padding: 0 1.5rem .5rem;
}

.products__title,
.products__subtitle,
.products__price {
  color: var(--container-color);
  text-align: end;
}

.products__title {
  font-size: var(--h2-font-size);
  text-transform: uppercase;
}

.products__subtitle {
  font-family: var(--font-alt);
  font-size: var(--normal-font-size);
  font-style: italic;
  font-weight: var(--font-light);
}

.products__price {
  font-size: var(--h3-font-size);
}

/* Swiper class */
.swiper-pagination-bullet {
  background: var(--text-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/*===== PRODUCT =====*/
.product__mobile-images {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product__mobile-images img {
  width: 300px;
  height: 450px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;
}

.product__mobile-subtitle {
  font-size: var(--h2-font-size);
  font-weight: var(--font-light);
  font-style: italic;
  color: var(--text-color-light);
  text-align: center;
  text-transform: lowercase;
}

.product__mobile-title {
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  color: var(--first-color-alt);
  text-align: center;
  text-transform: uppercase;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.7);
  }
  95% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes reveal-info {
  0% {
    height: 0;
  }
  5% {
    height: 350px;
  }
  95% {
    height: 350px;
  }
  100% {
    height: 0;
  }
}

.product__container {
  width: 1200px;
  display: none;
  font-size: var(--small-font-size);
  margin: 0 auto;
}

.product__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  animation: fade-in 1.5s ease, slide-in 1.2s ease;
  -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}

.product__data {
  flex-basis: 50%;
  order: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.product__info {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  animation: scaleDown 6s ease 2s;
  -webkit-animation: scaleDown 6s ease 2s;
}

.product__price {
  position: relative;
  bottom: 30px;
  left: 65%;
}

.product__price a {
  display: flex;
  align-items: center;
}

.product__price span {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color: var(--text-color-light);
}

.product__dimension,
.product__dimension-alt {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--first-color-alt);
  font-style: italic;
  color: var(--text-color-light);
  padding: 0 0 1px 3px;
  margin: 0 15px 0 0;
}

.product__dimension i,
.product__dimension-alt i {
  font-size: 125%;
  color: var(--first-color-light);
  margin: 0 .25rem;
}

.product__dimension {
  width: 33%;
}

.product__dimension-alt {
  width: 12%;
}

.product__titles {
  margin-top: 20px;
  margin-left: 80px;
  position: relative;
  right: 15%;
}

.product__intro,
.product__subtitle,
.product__title {
  margin: -20px 0 0;
}

.product__intro,
.product__subtitle {
  font-weight: normal;
  letter-spacing: -2px;
  text-align: end;
}

.product__intro {
  font-size: 300%;
  color: var(--first-color-light);
}

.product__intro span {
  color: var(--first-color-alt);
}

.product__subtitle {
  font-size: 200%;
  font-style: italic;
  text-transform: lowercase;
  line-height: 3rem;
  color: var(--first-color);
}

.product__title {
  font-size: 500%;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
  color: var(--first-color-alt);
  margin: 0 0 4rem 0;
}

.product__description-short {
  width: 60%;
  font-style: italic;
  font-size: 105%;
  color: var(--text-color-light);
  margin: -30px 0 0 90px;
}

.product__description-show {
  margin-left: 92px;
  align-self: flex-start;
  font-weight: bold;
  font-size: 120%;
  font-family: var(--font-alt);
  text-decoration: none;
  color: black;
}

.product__description-show:hover {
  text-decoration: underline;
}

.product__description {
  width: 66%;
  height: 0;
  font-size: var(--normal-font-size);
  align-self: flex-start;
  overflow: hidden;
  margin: -30px auto 0 auto;
  animation: reveal-info 4s ease 3s;
  -webkit-animation: reveal-info 4s ease 3s;
}

.product__images {
  flex-basis: 50%;
  order: 2;
}

.product__images-container {
  width: 100%;
  height: 113%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: scaleDown 6s ease 2s;
  -webkit-animation: scaleDown 6s ease 2s;
}

.product__image {
  width: 75%;
  height: auto;
  position: relative;
  border-radius: 1rem;
}

@media (min-width: 768px) and (max-width: 1215px) {
  .product__mobile-container {
    display: none;
  }
  .product__container {
    width: 100%;
    height: 768px;
    display: block;
  }
  .product__price {
    bottom: 20px;
  }
  .product__dimension {
    width: 46%;
  }
  .product__dimension-alt {
    width: 18%;
  }
  .product__description {
    width: 90%;
  }
}

@media screen and (min-width: 1216px) {
  .product__mobile-container {
    display: none;
  }
  .product__container {
    display: block;
  }
}


/*===== FOOTER =====*/
.footer {
  background-color: var(--first-color-alt);
  color: var(--first-color);
}

.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 1.5rem;
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1);
}

.footer__deal {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-2);
}

.footer__link, .footer__social {
  color: var(--first-color-lighten);
}

.footer__link {
  font-size: var(--normal-font-size);
}

.footer__link:hover, .footer__social:hover {
  color: var(--first-color-light);
}

.footer__social {
  font-size: var(--h1-font-size);
  margin-right: var(--mb-1);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 568px) {
  .home__data {
    padding: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .home__title {
    line-height: .8;
    letter-spacing: 1.2rem;
  }
  .home__img {
    width: 300px;
  }
  .collection__container {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 174px;
    grid-template-rows: 174px;
  }
  .new__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__form {
    width: 65%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  header:hover .nav__connection {
    margin: 0 auto;
  }
  header:hover .nav__connection-menu {
    visibility: visible;
    opacity: 1;
  }
  .section__subtitle {
    margin-bottom: var(--mb-4);
  }
  .grid {
    align-content: center;
  }
  .form__password-forget {
    position: relative;
    bottom: -30px;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }
  .nav__connection {
    height: calc(var(--header-height) + -0.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3rem auto 0 auto;
    transition: 1s;
  }
  .nav__logo img {
    height: 75px;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
    padding: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__connection-list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__connection-menu {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .3s linear;
    transition-delay: .3s;
  }
  .nav__item-mobile {
    display: none;
  }
  .home__container {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
  }
  .home__data {
    justify-self: flex-end;
  }
  .home__img {
    position: initial;
    width: 370px;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .collection {
    -ms-grid-rows: 204px;
    grid-template-rows: 204px;
  }
  .collection__box {
    padding: .5rem  3rem 0;
  }
  .offer__data {
    padding: 5rem 0;
  }
  .new__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .template__container {
    height: 95vh;
    grid-template-columns: repeat(2, 1fr);
  }
  .template__box,
  .template__form {
    height: 73vh;
  }
  .template__box-product,
  .template__form-product {
    height: 76vh;
  }
  .template__border-lt {
    border-radius: 1rem 0 0 1rem;
  }
  .template__border-rb {
    border-radius: 0 1rem 1rem 0;
  }
  .template__box-detail {
    padding: 1.5rem 0 0 0;
  }
  .template__edit-container {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 6rem 0 0 0;
  }
  .template__edit-title{
    margin: 2rem 0;
  }
  .account__title{
    margin: 4rem 0 0 0;
  }
  .account__container-mobile {
    display: none;
  }
  .account__container {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }
  .account__admin-container,
  .account__product-container {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .account__admin-container {
    height: 80vh;
  }
  .account__back {
    top: 106px;
    left: 10%;
    font-size: 2.5rem;
  }
  .account__box-wide {
    grid-column: span 3;
  }
  .products__section-title {
    margin: 4rem 0 2rem 0;
  }
  .products__mobile-container {
    display: none;
  }
  .products__container {
    padding-bottom: 2.5rem;
  }
  .products__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 0 auto;
  }
  .footer__box-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
  }
  .collection__container {
    -ms-grid-rows: 238px;
    grid-template-rows: 238px;
  }
  .collection__img {
    width: 130px;
  }
  .products__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 321px) {
  .home__img {
    width: 198px;
  }
  .collection__img {
    width: 80px;
  }
  .contact__form {
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
  }
}
